<article class="card">
    <h2>{{ t["section_transactions"] }}</h2>
    <table>
        <thead>
        <tr>
            <th>{{ t["table_date"] }}</th>
            <th>{{ t["table_direction"] }}</th>
            <th>{{ t["table_amount"] }}</th>
            <th>{{ t["table_category"] }}</th>
            <th>{{ t["table_note"] }}</th>
            <th>{{ t["table_action"] }}</th>
        </tr>
        </thead>
        <tbody>
        {% for txn in transactions %}
            {% if edit_txn_id == txn["id"] %}
                {% include "_transaction_edit_row.html" %}
            {% else %}
                {% include "_transaction_display_row.html" %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">{{ t["table_no_transactions"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
